body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1140px;
  justify-content: space-between;
}

.box {
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  width: 200px;
  height: 500px;
  font-size: 1em;

  flex: 1 0 200px;
}

.box1 {
  background-color: #43bccd;
}

.box2 {
  background-color: #662e9b;
}

.box3 {
  background-color: #4f5d75;
}

.box4 {
  background-color: #472d30;
}

@media screen and (max-width: 641px)
{
  .box3, .box4{
    display: none;
  }

  .box1{
    background-color: #ff99c8;
  }
  .box2{
    background-color: #ea3546;
  }
}
